<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ site.url }}/{{ site.baseurl }}/{{ page.hero_image }}') no-repeat center center; background-color: #000000; background-size: cover;" {% endif %}>
    <div class="hero-body">
        <div class="container">
            <p class="title is-2">{{ page.title }}</p>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ site.url }}/{{ site.baseurl }}/{{ page.hero_link  }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
	     {% endif %}
	    <ul class="social-btns">
		<li><a href="mailto:mrals89@gmail.com"><i class="fa fa-envelope fa-3x color1"></i></a></li>
		<li><a href="https://linkedin.com/in/matthewralston" target=_blank><i class="fab fa-linkedin fa-3x color2"></i></a></li>
		<li><a href="https://www.patreon.com/TheWaterAndWind" target=_blank><i class="fab fa-patreon fa-3x color3"></i></a></li>

		<li><a href="http://github.com/MatthewRalston" target=_blank><i class="fab fa-github fa-3x color4"></i></a></li>
		<li><a href="http://facebook.com/matthewthomasralston" target=_blank><i class="fab fa-facebook fa-3x color5"></i></a></li>
		<li><a href="https://open.spotify.com/user/waterandwindmusic" target=_blank><i class="fab fa-spotify fa-3x color6"></i></a></li>
            </ul>

        </div>
    </div>
</section>
