<h2>Sitemap</h2>

<p>Welcome to my personal page. Here you'll find everything you need to know about my scientific career path and digital portfolio. It might seem confusing at first since I'm both a laboratory scientist and a programmer</p>

<h4>Main menu</h4>
<p>Let me tell you where to go if you're looking for something specific. At the top of each page is a main menu that will direct you to this homepage, the portfolio/showcase, my blog 'Not Very Humerus', my short resume, and a page of links.</p>

<p>If you're looking for information about my current open source projects, I'd take a look at the <a href="portfolio">portfolio</a> page, where I go into more detail about my interest in alignment-free methods, sequencing formats, and code profiling.</p>

<p>But on this page you'll learn more about me, and I'll tell you what you'll find next.</p>

<h4>About me</h4>
<p>If you're in a hurry, I'd suggest you look at my current projects, skillsets, and education below. If you can take 5 minutes, there's a more detailed <a href="#about">about</a> section below that, at the bottom of this page.</p>

<h4>Social Media</h4>

<p>At the top and bottom of every page are links to my social media accounts. Please consider reaching out to me there and I'd be happy to talk about most anything!</p>

