
<div class="tabs is-large is-left is-boxed">
    <ul>
	<li class="active"><a href="#history" data-toggle="tab">Current</a></li>
	<li><a href="#skills" data-toggle="tab">Skills</a></li>
	<li><a href="#education" data-toggle="tab">Education</a></li>
    </ul>
</div>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="history">
	<h2>Projects</h2>
	<p>I am currently working on tuning and benchmarking an algorithm for processing k-mer spectra under GPLv3+. The project is detailed further under my Portfolio Showcase. The project features theoretical investigations, code profiling, report generation, and Github project management.</p>
	<ul id="projects">
	    <li id="enrichment">
		<i class="fas fa-chart-line"></i>
		CLI Performance Tuning
	    </li>
	    <li id="kmer-database">
		<i class="fab fa-python"></i>
		K-mer Database (.kdb)
	    </li>
	    <li id="benchmarking">
		<i class="fas fa-tachometer-alt"></i>
		Performance Benchmarking (Rmd)
	    </li>
	    <li id="kmerjs">
		<i class="fas fa-database"></i>
		Kmer.js
	    </li>
	    <li id="ngsci">
		<i class="fab fa-pied-piper-alt"></i>
		NGS Complexity Index
	    </li>
	    <li id="arch">
		<i class="fas fa-cogs"></i>
		Customized Arch Linux OS
	    </li>
	</ul>

	<h2>Work History</h2>
	<p>In the past, I worked for Terry Papoutsakis, a metabolic engineer of the bacterium <em>C. acetobutylicum</em> and the biopharmaceutical company Bristol-Myers Squibb in two departments: Computational Genomics and Computer Assisted Drug Design. If you'd like to see more about my professional life, please check out the associated information in my resume, my LinkedIn, or contact me on social media for my long-form curriculum vitae.</p>
	<ul id="workplaces">
	    <li id="papoutsakis">
		<i class="fas fa-flask"></i>
		<a href="http://papoutsakis.org" >Papoutsakis Lab</a>
	    </li>
	    <li id="bms">
		<i class="fas fa-sitemap"></i>
		<a href="http://bms.com">Bristol Myers Squibb</a>
	    </li>
	</ul>
    </div>

    <div role="tabpanel" class="tab-pane active" id="skills">
	<h2>Skills</h2>
	<div class="panel-body center" id="training">
	    <ul id="training">
		<li id="theoretical">
		    <i class="fas fa-university"></i>
		    <span class="panel-title">THEORETICAL</span>
		    <ul>
			<li>Biochemistry</li>
			<li>Physiology</li>
			<li>Genetics/Genomics</li>
			<li>Algorithms</li>
			<li>Biostatistics</li>
			<li>Machine Learning</li>
		    </ul>
		</li>
		<li id="laboratory">
		    <i class="fas fa-vial"></i>
		    <span class="panel-title">LABORATORY</span>
		    <ul>
			<li id="chemistry">
			    <i class="fas fa-balance-scale"></i>
			    <span class="panel-title">Organic, Phyical, Analytical Chemistry:</span>
			    <ul class="training-sublist">
				<li>GC-MS</li>
				<li>HPLC</li>
				<li>ITC</li>
			    </ul>
			</li>
			<li id="microbiology">
			    <i class="fas fa-braille"></i>
			    <span class="panel-title">Microbiology:</span>
			    <ul class="training-sublist">
				<li>Fed-batch fermentation</li>
				<li>Plate/colony culture</li>
				<li>Flux-balance analysis</li>
			    </ul>
			</li>
			<li id="immunoscience">
			    <i class="fas fa-magnet"></i>
			    <span class="panel-title">Immunoscience:</span>
			    <ul class="training-sublist">
				<li>Fluorescence-Activated Cell Sorting (FACS)</li>
				<li>Immunofluorescence / Immunohistochemistry</li>
				<li>Western blot</li>
			    </ul>
			</li>
			<li id="molbio">
			    <i class="fas fa-dna"></i>
			    <span class="panel-title">Molecular Biology:</span>
			    <ul class="training-sublist">
				<li>Northern blot</li>
				<li>q-RT-PCR</li>
				<li>Next Generation Sequencing</li>
			    </ul>
			</li>
		    </ul>
		</li>
		<li id="coding">
		    <i class="fas fa-code"></i>
		    <span class="panel-title">CODING</span>
		    <ul>
			<li id="database">
			    <i class="fas fa-database"></i>
			    <span class="panel-title">Database:</span>
			    <ul class="training-sublist">
				<li>MySQL/PostgreSQL/Oracle</li>
				<li>MongoDB/DynamoDB</li>
				<li>Sqlalchemy/Rails/Express ORMs</li>
			    </ul>
			</li>
			<li id="stats">
			    <i class="fas fa-chart-bar"></i>
			    <span class="panel-title">Statistics / Visualization:</span>
			    <ul class="training-sublist">
				<li>R + KnitR + Shiny</li>
				<li>Data-Driven Documents (D3.js)</li>
			    </ul>
			</li>
			<li id="web">
			    <i class="fas fa-wifi"></i>
			    <span class="panel-title">Web Development:</span>
			    <ul class="training-sublist">
				<li>HTML + CSS + JS</li>
				<li>REST-APIs</li>
			    </ul>
			</li>
			<li id="shell">
			    <i class="fab fa-linux"></i>
			    <span class="panel-title">UNIX Shell:</span>
			    <ul class="training-sublist">
				<li>Bash on RHEL/Debian/Arch Linux/OSX</li>
			    </ul>
			</li>
			<li id="app">
			    <i class="fas fa-wrench"></i>
			    <span class="panel-title">Scripting / Full-stack:</span>
			    <ul class="training-sublist">
				<li>Bash</li>
				<li>Python / Flask</li>
				<li>Ruby / Rails</li>
				<li>Perl</li>
				<li>NodeJS / Express</li>
			    </ul>
			</li>
			<li id="lambda">
			    <i class="fas fa-rocket"></i>
			    <span class="panel-title">Functional Programming:</span>
			    <ul class="training-sublist">
				<li>Scheme</li>
				<li>Haskell</li>
			    </ul>
			</li>
		    </ul>
		</li>
	    </ul>
	</div>

    </div>

    <div role="tabpanel" class="tab-pane active" id="education">
	<h2>Education</h2>
	<ul class="education">
	    <li>
		<i class="fas fa-university"></i>
		B.S. Biochemistry
	    </li>
	    <li>
		<i class="fas fa-user-graduate"></i>
		M.S. Bioinformatics
	    </li>
	</ul>
    </div>
</div>
