---
layout: default
favicon: /assets/img/favicon.png
---

{% include head-scripts.html %}
{% include base.html %}

<article id="post-page">
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="tags">
	    {% for tag in page.tags %}

	    <a href="{{ site.url }}/{{ site.baseurl }}/{{ '/blog/tag/' }}{{ tag_name }}"><span class="tag is-primary">{{ tag }}</span></a>
	    {% endfor %}
	</div>

        <!-- <span class="post-tags">[
	     {% for tag in page.tags %}
             {% capture tag_name %}{{ tag }}{% endcapture %}
             <a href="{{ site.url }}/{{ site.baseurl }}/{{ '/blog/tag/' }}{{ tag_name }}"><code class="highlighter-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
             {% endfor %}
             ]</span> -->
<!-- 	<span class="post-date">{{ page.date | date_to_string }}</span>-->


	{% if page.toc %}
	{% assign contentsTitle = page.toc_title | default: 'Contents' %}

	{% endif %}
	<div class="content">
	    {{ content | toc }}
	</div>

</article>





{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
